* {
    bg0: #2d2d2d;
    bg1: #7E7E7E;
    bg2: #464646;

    fg0: #DEDEDE;
    fg1: #464646;

    background-color: transparent;
    text-color: @fg0;

    margin: 0;
    padding: 0;
    spacing: 0;
}

window {
    background-color: @bg0;
    location: center;
    width: 320;
}

inputbar {
    margin: 6px;
    children: [ entry ];
}

entry {
    font: "Noto Sans JP 14";
    padding: 0 6px;
    placeholder: "Start typing...";
    placeholder-color: @fg1;
    horizontal-align: 0.5;
    blink: false;
    cursor-color: transparent;
}

listview {
    lines: 10;
    columns: 1;
    fixed-height: false;
    border: 1px 0 0;
    border-color: @bg1;
}

element {
    padding: 6px;
    spacing: 12px;
    background-color: transparent;
}

element selected {
    background-color: @bg2;
}

element-icon {
    size: 1em;
}
element-text {
    font: "Noto Sans JP 12";
}
